<center><img src="./logo-cs.jpeg" width="400"  /></center>

<hr color="black">

<center><h1>Le module ETL de PistusResa</h1></center>

<hr color="black">

Les organisateurs des √©ditions pr√©c√©dentes de Pistus avaient conserv√© toutes les donn√©es d'inscription dans deux feuilles de calcul. 

Le module **ETL** est charg√© d'**extraire (E)** les donn√©es des feuilles de calcul, de **transformer (T)** et de **charger (L, en anglais Load)** ces donn√©es dans la base de donn√©es de Pistus.

Les deux feuilles de calcul sont disponibles dans le dossier ``./data`` en tant que fichiers CSV.

Si vous regardez les fichiers, vous remarquerez imm√©diatement que :

* Certaines donn√©es sont r√©pliqu√©es. Le pr√©nom, le nom et l'adresse √©lectronique d'un √©tudiant se retrouvent dans les deux fichiers ;

* Certains √©tudiants (par exemple Ericka GUYOMARD) apparaissent plusieurs fois dans les deux fichiers parce qu'ils participent √† plusieurs √©ditions de Pistus ou appartiennent √† plus d'une association.

* Le sexe est exprim√© de diff√©rentes mani√®res : les hommes sont d√©sign√©s par M, H, ou *gar√ßon* et les femmes par F, W ou *fille*.


---

**Bon √† savoir.** La redondance des donn√©es peut provoquer des **incoh√©rences** dans une base de donn√©es. En effet, lorsque nous voulons modifier l'adresse √©lectronique d'un √©tudiant et que cette adresse est pr√©sente dans plusieurs tables, nous pouvons oublier de mettre √† jour certaines de ces occurrences.

---



Toutes ces anomalies dans les donn√©es sont appel√©es  **bruit** ; pratiquement tous les ensembles de donn√©es pr√©sentent une certaine quantit√© de bruit, qu'il faut traiter avant d'utiliser les donn√©es. En d'autres termes, nous devons **nettoyer les donn√©es** avant de les charger dans la base de donn√©es.

# La base de donn√©es Pistus

Dans le dernier TD, vous avez cr√©√© une base de donn√©es SQLite avec toutes les tables n√©cessaires. Si vous avez suivi les instructions √† la lettre, vous devriez avoir sauvegard√© la base de donn√©es dans un fichier nomm√© ``pistus.db``.

---

**Activit√©.** Copiez le fichier ``pistus.db`` dans le dossier ``./data``.

---

# Extraction de donn√©es

Votre objectif est de cr√©er autant de Pandas DataFrames qu'il y a de tables dans le mod√®le physique de la base de donn√©es.  

---

**Question.** √âcrivez un code pour : 

* lire les deux fichiers CSV dans deux DataFrames s√©par√©s :

* obtenir √† partir de ces deux DataFrames les DataFrames correspondant aux tables de votre mod√®le physique.

üëâ Dans les deux fichiers CSV, le d√©limiteur de colonne est un point-virgule (``;``).

---

In [46]:
# √âCRIVEZ VOTRE CODE ICI
! pip install pandas

import pandas as pd

memberships_df = pd.read_csv("../data/student_memberships.csv", sep=';')
registrations_df = pd.read_csv("../data/student_registrations.csv", sep=';')

Requirement already satisfied: pandas in /home/pllima0909/Documents/Git/1CC1000-SIP/.venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /home/pllima0909/Documents/Git/1CC1000-SIP/.venv/lib/python3.12/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/pllima0909/Documents/Git/1CC1000-SIP/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/pllima0909/Documents/Git/1CC1000-SIP/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/pllima0909/Documents/Git/1CC1000-SIP/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/pllima0909/Documents/Git/1CC1000-SIP/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Transformation des donn√©es 

Votre objectif est de nettoyer les donn√©es de chaque DataFrame.

## Doublons

Les DataFrames que vous avez obtenues √† partir des fichiers CSV peuvent contenir des lignes en double.

---

**Question.** √âcrivez un code pour supprimer les lignes en double de chaque DataFrame que vous avez obtenu dans la question pr√©c√©dente.

---

In [54]:
# √âCRIVEZ VOTRE CODE ICI
memberships_df = memberships_df.drop_duplicates()
registrations_df = registrations_df.drop_duplicates()
memberships_df
registrations_df

,stud_number,first_name,last_name,gender,email,registration_date,payment_date,registration_fee,year
0,7719175,Eliane,CHOISNE,M,eliane.choisne@centralesupelec.fr,2015-10-08,2015-11-07,20.5,2016
1,7208231,Florian,COEFFARD,M,florian.coeffard@centralesupelec.fr,2015-10-01,2015-10-01,20.5,2016
2,5876984,Jacob,ROUSSIERE,M,jacob.roussiere@centralesupelec.fr,2015-10-10,2015-11-09,20.5,2016
3,2486399,Hortense,GUEFFIER,F,hortense.gueffier@centralesupelec.fr,2015-10-10,2015-10-10,20.5,2016
4,7874799,Timoth√©e,COUILLAUD,M,timothee.couillaud@centralesupelec.fr,2015-09-27,2015-10-27,20.5,2016
...,...,...,...,...,...,...,...,...,...
895,8851393,Annie,ROULLIER,F,annie.roullier@centralesupelec.fr,2017-10-18,2017-10-18,23.0,2018
896,8446594,Alexia,CHAIGNEAU,F,alexia.chaigneau@centralesupelec.fr,2017-09-17,2017-09-17,23.0,2018
897,549362,Joanny,SUBILEAU,M,joanny.subileau@centralesupelec.fr,2017-09-24,2017-10-24,23.0,2018
898,8347453,R√©gine,GEORGET,M,regine.georget@centralesupelec.fr,2017-10-19,2017-10-19,23.0,2018
899,2571528,Samira,CHAUVIERE,F,samira.chauviere@centralesupelec.fr,2017-09-22,2017-09-22,23.0,2018


---

**Question.** √âcrivez une liste d'assertions pour v√©rifier que vous avez :

* 602 √©tudiants.

* 11 associations.

* 602 adresses √©lectroniques diff√©rentes.

* 3 √©ditions de Pistus.

* 900 inscriptions.

* 895 adh√©sions √† des associations.

üëâ Les assertions peuvent √™tre √©crites en utilisant l'instruction ``assert`` suivie d'une expression bool√©enne.

__Exemple.__

```python
assert 3 == 3
assert 5 > 1
```




---

In [48]:
# √âCRIVEZ VOTRE CODE ICI
assert registrations_df.groupby('stud_number').count().shape[0] == 602
assert memberships_df.groupby('asso_name').count().shape[0] == 11
assert registrations_df.groupby('email').count().shape[0] == 602
assert registrations_df.groupby('year').count().shape[0] == 3
assert registrations_df.shape[0] == 900
assert memberships_df.shape[0] == 895

## Coh√©rence des informations relatives au sexe

Comme indiqu√© pr√©c√©demment, les informations relatives au sexe ne sont pas coh√©rentes entre les lignes. 

* Les r√©f√©rences ``M``, ``H`` ou ``gar√ßon`` sont utilis√©es pour faire r√©f√©rence aux hommes.

* Les r√©f√©rences ``F``, ``W`` ou ``fille`` sont utilis√©es pour faire r√©f√©rence aux filles.

Nous d√©cidons que :

* les hommes seront toujours r√©f√©renc√©s comme ``M``.

* Les femmes seront toujours r√©f√©renc√©s comme ``F``.


---

**Question** : √âcrivez le code pour rendre coh√©rentes les informations relatives au sexe.

---

In [55]:
# √âCRIVEZ VOTRE CODE ICI
def normalize_gender(value):
    if pd.isna(value):
        return None
   
    if value in ["M", "H", "gar√ßon"]:
        return "M"
    elif value in ["F", "W", "fille"]:
        return "F"
    else:
        return "Unknown"

registrations_df['gender'] = registrations_df["gender"].apply(normalize_gender)
memberships_df['gender'] = memberships_df["gender"].apply(normalize_gender)


---

**Question.** √âcrivez des assertions pour v√©rifier que les informations relatives au sexe sont maintenant coh√©rentes.

---

In [56]:
# √âCRIVEZ VOTRE CODE ICI
def compare_genders(genders):
    for gender in genders:
        if gender in ["H", "gar√ßon", "W", "fille"]:
            return False
    return True

assert compare_genders(registrations_df['gender']) == True
assert compare_genders(memberships_df['gender']) == True

## Coh√©rence des dates

Les dates d'inscription et de paiement sont au format AAAA-MM-JJ. Nous voulons qu'elles soient exprim√©es sous la forme JJ-MM-AAAA.

---

**Question.** √âcrivez le code pour changer le format des dates d'inscription et de paiement.

---

In [ ]:
# √âCRIVEZ VOTRE CODE ICI

## Chargement des donn√©es dans la base de donn√©es

Nous sommes pr√™ts √† alimenter notre base de donn√©es Pistus avec des donn√©es propres.

---

**Question.** √âcrivez le code pour importer les donn√©es dans la base de donn√©es Pistus. 

üëâ V√©rifiez que les donn√©es sont dans la base de donn√©es avec ``DB Browser for SQLite``.

üëâ Rappelez-vous que les tables existent d√©j√† dans votre base de donn√©es. Passez les arguments appropri√©s √† la m√©thode ``to_sql``.

---

In [ ]:
# √âCRIVEZ VOTRE CODE ICI

Bravo ! N'oubliez pas de fermer la connexion √† la base de donn√©es et de passer √† l'activit√© suivante.

In [ ]:
conn.close()